.singleTicketContainer {
  margin: 14px;
  border-bottom: solid;
  padding-bottom: 5px;
  border-color: rgb(201, 201, 201);
};

.TicketViewer {
  margin: 1%;
}

.TicketViewerTitle {
  padding: 20px;
  margin: 14px;
  border-bottom: solid;
  padding-bottom: 5px;
  border-color: rgb(201, 201, 201);
}

.NextIcon {
  width: 50px;
  height: 50px;
}

.SOLVED {
  background-color: rgba(70, 0, 128, 0.664);
  border-color: rgba(70, 0, 128, 0.664);
  color: white;
  height: fit-content;
  width: fit-content;
}

.NEW {
  background-color: rgba(255, 81, 0, 0.568);
  border-color: rgba(255, 81, 0, 0.568);
  color: white;
  height: fit-content;
  width: fit-content;
}